In [21]:
import pandas as pd
from typing import List

def getDataframeSize(players: pd.DataFrame) -> List[int]:
  #return list(players.shape)
  return [players.shape[0], players.shape[1]]

In [22]:
players = pd.read_csv('players.csv')
players.head()

   player_id      name  age    position              team
0        846     Mason   21     Forward        RealMadrid
1        749     Riley   30      Winger         Barcelona
2        155       Bob   28     Striker  ManchesterUnited
3        583  Isabella   32  Goalkeeper         Liverpool
4        388   Zachary   24  Midfielder      BayernMunich

In [23]:
getDataframeSize(players)

[10, 5]