In [2]:
import pandas as pd

In [36]:
def total_time(employees: pd.DataFrame) -> pd.DataFrame:
  df = employees
  df['minutes'] = df['out_time'] - df['in_time']
  df = df.groupby(['event_day', 'emp_id'])['minutes'].sum().reset_index()
  df = df.rename(columns={
    'minutes': 'total_time',
    'event_day' : 'day'
  })
  
  return df

In [37]:
df = pd.read_csv('output.csv')
df = total_time(df)
df.head()

          day  emp_id  total_time
0  2020-11-28       1         173
1  2020-11-28       2          30
2  2020-12-03       1          41
3  2020-12-09       2          27