In [2]:
import pandas as pd

In [14]:
df = pd.read_csv('output.csv')
df.head(10)

   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
3         1            2          3
4         1            2          4
5         2            1          5
6         2            1          6

In [15]:
df.groupby(['actor_id','director_id']).agg('count').reset_index()

   actor_id  director_id  timestamp
0         1            1          3
1         1            2          2
2         2            1          2

In [17]:
df = df.groupby(['actor_id', 'director_id']).agg(count=('director_id', 'count')).reset_index()
df

   actor_id  director_id  count
0         1            1      1
1         1            2      1
2         2            1      1

In [13]:
df[df['count'] >= 3][['actor_id', 'director_id']]

   actor_id  director_id
0         1            1